.about-section {
    background-color: #FFE1E1;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;   
    flex-direction: column;
}

.about-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.about-header h1 {
    font-size: 2rem;
    color:#470C08;
}

.about-header p {
    font-size: 1.2rem;
    text-align: justify;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 2rem;
}

.about-content {
    display: flex;
    flex-direction: row;
    width: calc(100% - 20rem);
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 4rem;
}

.about-botones {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.about-botones button {
    color:white;
    background-color: #470C08;
    border-radius: 0.6rem;
    border-style: none;
    width: 12rem;
    height: 2.2rem;
}

.datos-personales {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.datos-personales h2 {
    font-size: 1.5rem;
}

.datos-personales ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 0.7rem;
    margin-top: 2rem;
}

.datos-personales ul li {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    gap: 0.5rem;
}

.datos-personales ul li strong {
    min-width: 120px; 
    text-align: left;
}

.intereses {
    width: 50%;
    display: flex;
    flex-direction: column;
}


.intereses-lista {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem 2rem;
    margin-top: 2rem;
}

.interes-cuadro {
    width: 7.5rem;
    height: 7.5rem;
    background-color: #470C08;
    border-radius: 1.8rem;
    gap: 0.6rem;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
}

.interes-cuadro h3 {
    color: white;
    font-size: 0.8rem;
}