.about-section {
    background-color: #FFE1E1;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-direction: column;
    position: relative;
}

.about-title{
    color:#470C08;
    font-size: 20px;
    position:absolute;
    top: 12%;
}