.fade-in {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-out {
  opacity: 0;
  transform: translateY(40px);
}

.slide-out-left {
  opacity: 0;
  transform: translateX(-50px);
}

.slide-in-left {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.slide-out-right {
  opacity: 0;
  transform: translateX(50px);
}

.slide-in-right {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
