.contact-section {
  background-color: var(--background-color-2);
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
}

.contact-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.contact-header h1 {
  font-size: 2rem;
  color: black;
}

.contact-content {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-content form {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 36rem;
  background-color: var(--detail-color-1);
  border-radius: 25px;
  padding: 2rem;
  gap: 1rem;
}

.contact-name {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 100%;
}

.contact-input-wrapper {
  position: relative;
  width: 100%;
}

.contact-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--detail-color-1);
  z-index: 10;
}

.contact-input {
  background-color: var(--background-color-1);
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 2.5rem;
  border-radius: 5px;
  box-sizing: border-box;
  border: none;
  resize: none;
}

.contact-input:focus {
  outline: none;
}

.textarea-wrapper .contact-icon {
  top: 15px;
  transform: none;
}

.textarea-wrapper .contact-input {
  padding-left: 2.5rem;
  padding-top: 1rem;
  height: 150px;
}

.contact-content button {
  padding: 0.5rem 1.5rem;
  width: 100%;
  border-radius: 5px;
  border: none;
  background-color: var(--background-color-1);
  color: black;
  font-weight: bold;
  font-size: 1rem;
}

.contact-content button:hover {
  background-color: var(--background-color-2);
  cursor: pointer;
}

@media (max-width: 1015px) {
  .contact-section {
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-content {
    width: 85%;
  }

  .contact-name {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
  }
}

@media (max-width: 760px) {
  .contact-content {
    width: 90%;
  }

}