.footer-section {
  background-color: var(--background-color-1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 0;
}

.footer-content {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-icons {
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
}

.footer-icons a {
  color: var(--detail-color-1);
  font-size: 2rem;

  transition: transform 0.2s ease-in-out;
  display: inline-block;
}

.footer-icons a:hover {
  transform: scale(1.2);
}

.footer-content::before {
  content: "";
  position: absolute;
  top: 0;
  background: #470c08;
  width: 90%;
  height: 0px;
}

.highlight {
  color: var(--detail-color-1);
  font-weight: bold;
}
