.footer-section {
    background-color: var(--background-color-1);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-direction: column;
    position: relative;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.footer-content::before {
    content: "";
    position: absolute;
    top: 0;
    background: #470c08;
    width: 90%;
    height: 0.01rem;
}