.formation-section {
  background-color: var(--background-color-1);
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5rem 0;
}

.formation-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formation-header h1 {
  font-size: 2rem;
  color: black;
}

.formation-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 4rem;
  gap: 4rem;
}

.formacion-cuadro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 24rem;
  background-color: #470c08;
  border-radius: 2.2rem;
  padding: 0.5rem;
  color: white;
}

.formacion-imagen-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
}

.formacion-cuadro img {
  width: 10rem;
  height: auto;
}

.formacion-cuadro h2 {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 0.8rem;
}

.formacion-cuadro h3 {
  font-size: 1rem;
  text-align: center;
  margin-top: 0.5rem;
}

.formacion-cuadro p {
  font-size: 1rem;
  text-align: center;
  margin-top: 0.3rem;
}
