nav {
    position: sticky;
    top:0;
    background-color: #fef3f24b;
    backdrop-filter: blur(10px); 
    display: flex;
    justify-content: flex-end;
    height: 3.5rem;
    padding: 0 2rem;
    align-items: center;
    z-index: 10000;
}

a {
    color:black;
    font-size: 1.2rem;
    line-height: normal;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    margin: 0 1.5rem;
    text-decoration: none;
}

a:hover {
    color: #470C08;
    font-weight: 700px;
    transform: scale(1.05);
}