.header {
  position: fixed;
  top: 0;
  background-color: #fef3f24b;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: flex-end;
  height: 4rem;
  width: 100vw;
  align-items: center;
  z-index: 10000;
}

.navbar {
  margin-right: 1.5rem;
}

.navbar a {
  color: black;
  font-size: 1.2rem;
  line-height: normal;
  margin: 0 1.5rem;
  text-decoration: none;
}

.navbar a:hover {
  color: #470c08;
  font-weight: 700px;
  transform: scale(1.05);
}

.boton {
  display: none;
}

@media (max-width: 1015px) {

  .navbar {
    position: absolute;
    top:70px;
    right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .boton {
    margin-top: 1rem;
    margin-right: 2rem;
    display: block;
  }
}
