.notification-wrapper {
  position: fixed;
  bottom: 2.5rem;
  left: 3.5rem;
  z-index: 1000;
}

.notification-card {
  background-color: var(--background-color-1);
  width: 16rem;
  height: 5rem;
  border-radius: 1rem;
  margin: 1rem 0;
  padding: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
}

.notification-icon-wrapper {
  display: flex;
  font-size: 2.8rem;
  width: 25%;
  color: var(--detail-color-1);
}

.notification-message-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75%;
  height: 100%;
}

@keyframes slideIn {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-50%);
    opacity: 0;
  }
}

.slide-in {
  animation: slideIn 0.3s ease-in forwards;
}

.slide-out {
  animation: slideOut 0.3s ease-out forwards;
}

@media (max-width: 760px){
  .notification-wrapper{
    left: 0;
    bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}