.skills-section {
  background-color: var(--background-color-2);
  min-height: auto;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 4rem 0;
}

.skills-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.skills-content {
  width: 100%;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 8rem);
  grid-template-rows: repeat(3, 8rem);
  gap: 2.5rem;
  justify-content: center;
}

.skills-header h1 {
  font-size: 2rem;
  color: var(--detail-color-1);
}

@media(max-width: 1015px) {
  .skills-section {
    padding: 4rem 0;
  }
  .skills-header h1 {
    font-size: 1.8rem;
  }
}

@media (max-width: 760px) {
  
  .skills-content {
    grid-template-columns: repeat(2, 7.5rem);
    grid-template-rows: repeat(6, 7.5rem);
  }
}
