:root {
    --primary-color: #e22c20;
    --secundary-color: #fd756c;
    --tertiary-color: #e22c20;
    --background-color-1: #fef3f2;
    --background-color-1-transparent: #fef3f24b;
    --background-color-2: #ffe3e1;
    --background-color-3: #ffcbc8;
    --background-color-4: #ffa8a2;
    --detail-color-4: #be2217;
    --detail-color-3: #9d2017;
    --detail-color-2: #82211a;
    --detail-color-1: #470c08;
}

* {
    padding: 0;
    margin:0;
    font-family: 'Popins', sans-serif;
}

body {
    background-color: #fef3f2;
    
}